.main-container {
  /* Position */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Size */
  height: 100vh;
  width: 100vw;
  /*Misc*/
  /*  */
}

.container {
  /* Position */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  margin: 0 5rem;
  /* Size */
  width: 80vh;
  min-width: 240px;
  /* Misc */
  border-radius: 12px;
  overflow: hidden;
}

/*////////////////////////////////////   Backgrounds  /////////*/
.background-default {
  background: rgb(38, 33, 33);
  background: linear-gradient(
    90deg,
    rgba(38, 33, 33, 1) 0%,
    rgba(51, 49, 49, 1) 100%
  );
}

.background-Clear {
  background-image: url("../Images/clear.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-Clouds {
  background-image: url("../Images/clouds.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-Dust,
.background-Sand,
.background-Ash {
  background-image: url("../Images/dust-sand-ash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-Mist {
  background-image: url("../Images/mist.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-Rain,
.background-Drizzle,
.background-Fog {
  background-image: url("../Images/rain-drizzle-fog.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-Smoke,
.background-Haze {
  background-image: url("../Images/smoke-haze.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-Snow {
  background-image: url("../Images/snow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.background-Thunderstorm,
.background-Tornado {
  background-image: url("../Images/thunderstorm-tornado.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/****** Media Queries ******/

/*  0px - 688px  */
@media screen and (max-width: 688px) {
  .container {
    flex-direction: column;
  }
}
